/**************************************************
 // Author: Sum Wan,FU
 // Date: 7-5-2019
 // Description: Css file for index.html
 **************************************************/


/*-- content --*/
.col1 {
    width: 33.33333333%;
}

.rewards {
    text-align: center;
}

.reservations {
    text-align: center;
}

.account {
    text-align: center;
}



i.rewards {
    width: 190px;
    height: 190px;
    background: url(../images/img-sprite.png)no-repeat -1px 1px;
    display: inline-block;
}

i.reservations {
    width: 190px;
    height: 190px;
    background: url(../images/img-sprite.png)no-repeat -200px 1px;
    display: inline-block;
}

i.account {
    width: 190px;
    height: 190px;
    background: url(../images/img-sprite.png)no-repeat -400px 1px;
    display: inline-block;
}

/*-- content --*/


/*--responsive design--*/
@media (max-width:1024px){


}

/*--responsive design--*/
@media (max-width:768px){
	i.rewards {
		width: 117px;
		height: 117px;
		background-size: 400px;
	}
	i.reservations {
		width: 117px;
		height: 117px;
		background: url(../images/img-sprite.png)no-repeat -122px 1px ;
		background-size: 400px;
	}
	i.account {
		width: 117px;
		height: 117px;
		background: url(../images/img-sprite.png)no-repeat -246px 1px ;
		background-size: 400px;
	}
	.col1 {

	}
}


@media (max-width:640px){
	.col1 {
		width: 100%;
	}
	.form-input{
		width: 100%;
	}
	.form-select{
		width: 100%;
	}
}

@media (max-width:320px){
	.col1 {
		width: 100%;
	}
	.form-input{
		width: 100%;
	}
	.form-select{
		width: 100%;
	}
}